.row-fluid
  .span10.offset1
    .alert.footer.alert-error
      %p.text-right
        %strong
          ITIS CourseWork 2017, created by: <a href="https://vk.com/eatyou1">Nurgaliev Damir</a> and <a href="https://vk.com/telemaxdom">Toroshin Danil</a>
